
.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: auto;
    width: 1280px;
    background-color: #F1F1F3;
}
.banner-container{
    
    width: 100%;
    text-align: left;
    background-color: #C6E4D6 ;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    padding: 80px 40px 80px 40px;
    margin-top: 120px;
    height: 560px;
    border-radius: 24px;
}



.title1{
    color:#1d856b;
}

.btn-bg{
    background-color: #006A50;
    width: 180px;
}
.explore{
    padding: 14px 12px 14px 12px;
    border-radius: 8px;
    color: white;
}
/* p{
    font-weight: bold;
} */
.pillar{
    margin: 80px 0 0 0;
}
.section2{
    display: flex;
    justify-content: center;
    width: 1280px;
    gap: 24px;
    border-radius: 16px;
    margin: 30px 0 80px 0;
    

}
.card{
    background-color: white;
    border: 2px;
    padding: 30px;
    border-radius: 16px;
    
}
.sec2p{
    font-weight: normal;
}
.sec3p{
    font-weight: normal;
}
.section3{
    display: flex;
    justify-content: center;
    width: 1280px;
    gap: 24px;
    border-radius: 16px;
    margin: 30px 0 80px 0;
}
.btn-l1{
    background-color: #5490F5;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #5490F5;
}
.btn-l2{
    background-color: #09A15C;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #09A15C;
}
.btn-l3{
    background-color: #FFC239;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #FFC239;
}
.p-vision{
    font-style: normal;
}
.section4{
    background-color: white;
    border-radius: 15px solid;
    padding: 48px 28px 48px 28px;
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;  
    padding: 20px;
    border-radius: 16px;
}
.name-title h4{
    margin-bottom: 0;
}
.name-title p{
    margin-top: 0;
    font-style: normal;
}


.box1{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box1-right{
    padding: 56px 48px 56px 32px;
}
.box1-left img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.box-btn{
    color: white;
    background-color: #006A50;
    padding: 13px 20px 13px 20px;
    border-radius: 8px;
}

.box2{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box2-left{
    padding: 56px 32px 56px 48px;
}
.box2-right img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.box3{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box3-right{
    padding: 56px 48px 56px 32px;
}
.box3-left img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.text-center{
    text-align: center;
    padding: 20px;
}
.donet-card{
    display: flex;
    justify-content: space-evenly;

}
.card-taka{
    padding: 24px;
    background-color: white;
    padding: 20px;
    height: 50px;
    border-radius: 16px;
    justify-content: space-between;
}
.card-taka2{
    border: #C6E4D6;
    background-color: #C6E4D6;
    align-items: center;
    
}

.dt-container{
    width: 100%;
    margin-top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
    
    
}
.input-field{
    width: 70%;
    padding: 10px 16px;
}
.input-field::placeholder{
    color: #aaa;
    text-align: center;
    
}
.donet-for-bd >.box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.box-btn{
    background-color: #006644;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

