
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: auto;
    width: 1280px;
    background-color: #F1F1F3;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sign{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #006A50;
    font-weight: 18px;
    
}
.sign:hover{
    background-color: rgb(76, 133, 76);
    color: white;
}

.banner-container{
    
    width: 94%;
    text-align: left;
    background-color: #C6E4D6 ;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    padding: 80px 40px 80px 40px;
    margin-top: 40px;
    height: 560px;
    border-radius: 24px;
}



.title1{
    color:#1d856b;
}

.btn-bg{
    background-color: #006A50;
    width: 180px;
}
.explore{
    padding: 14px 12px 14px 12px;
    border-radius: 8px;
    color: white;
}
.explore:hover{
    color: rgb(143, 201, 143);
}
.pillar{
    margin: 80px 0 0 0;
}
.section2{
    display: flex;
    justify-content: center;
    width: 1280px;
    gap: 24px;
    border-radius: 16px;
    margin: 30px 0 80px 0;
    

}
.card{
    background-color: white;
    border: 2px;
    padding: 30px;
    border-radius: 16px;
    
}
.sec2p{
    font-weight: normal;
}
.sec3p{
    font-weight: normal;
}
.section3{
    display: flex;
    justify-content: center;
    width: 1280px;
    gap: 24px;
    border-radius: 16px;
    margin: 30px 0 80px 0;
}
.innovation-card {
    background-color: #cbdef8;
    border-radius: 16px;
    padding: 20px;
}
.Sustainability-card{
    background-color: #a8e7cb;
    border-radius: 16px;
    padding: 20px;
}
.Infrastructure-card{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 20px;
}
.btn-l1{
    background-color: #5490F5;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #5490F5;
}
.btn-l2{
    background-color: #09A15C;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #09A15C;
}
.btn-l3{
    background-color: #FFC239;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 8px;
    border-color: #FFC239;
}
.btn-l1:hover {
    background-color: rgb(143, 201, 143);
}
.btn-l2:hover{
    background-color: rgb(143, 201, 143);
}
.btn-l3:hover{
    background-color: rgb(143, 201, 143);
}
.p-vision{
    font-style: normal;
}
.section4{
    background-color: white;
    border-radius: 15px solid;
    padding: 48px 28px 48px 28px;
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;  
    padding: 20px;
    border-radius: 16px;
}
.name-title h4{
    margin-bottom: 0;
}
.name-title p{
    margin-top: 0;
    font-style: normal;
}


.box1{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box1-right{
    padding: 56px 48px 56px 32px;
}
.box1-left img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.box-btn{
    color: white;
    background-color: #006A50;
    padding: 13px 20px 13px 20px;
    border-radius: 8px;
}
.box-btn:hover{
    color: rgb(143, 201, 143);
}
.box2{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box2-left{
    padding: 56px 32px 56px 48px;
}
.box2-right img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.box3{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 48px;
    align-items: center;
    background-color: white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
}
.box3-right{
    padding: 56px 48px 56px 32px;
}
.box3-left img{
    width: 350px;
    height: 250px;
    margin-left: 48px;
    margin-right: 32px;
    border-radius: 24px;
}
.text-center{
    text-align: center;
    /* padding: 20px; */
}
.section6-title .text-center{
    margin-bottom: 14px;
}
.donet-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-taka{
    padding: 30px;
    background-color: white;
    height: 50px;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}
.card-taka:hover {
    background-color: rgb(143, 201, 143);
}
.card-taka2{
    border: #C6E4D6;
    background-color: #C6E4D6;
    align-items: center;
    
}

.dt-container{
    width: 100%;
    margin-top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
    
}
.taka-btn:hover{
    color: rgb(143, 201, 143);
}
.dt-container input[type=text]{
    width: 800px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 124px 5px 210px;
}
.input-field{
    width: 70%;
    padding: 10px 16px;
}
.input-field::placeholder{
    color: #aaa;
    text-align: center;
    
}
.donet-for-bd .box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 564px 2px 564px;
    
}
.footer-content{
    width: 0 auto;
    margin: 60px 80px 60px 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
    text-align: center;
    padding: 40px 20px;
}
.sub-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.sub-form input[type="email"]{
    width: 500px;
    padding: 12px 15px;
    
}
.sub-form button[type="submit"]{
    background-color: #006A50;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    width: 0 auto;
    margin-left: -20px;
    font-size: 18px;
}
.sub-form button:hover{
    color: rgb(143, 201, 143);
}
.footer-content p{
   color:#1d856b ;
    
}
.footer-note{
    font-size: 14px;
    color: #1d856b;
}
.taka-btn{
    color: white;
    background-color: #006A50;
    padding: 13px 20px 13px 20px;
    border-radius: 8px;
    margin: 10px 564px 0px 564px;
    
}